html {
  overflow-x: hidden; }

body {
  background-color: #9b2; }

/*
        header panel
*/
.full-width {
  width: 100%; }

.default-height {
  height: 200px; }

.menu-row {
  border-bottom: 2px solid black; }
  .menu-row .menu-col {
    padding: 0px 1px;
    font-family: Garamond; }
    .menu-row .menu-col button {
      font-size: 20px; }
    .menu-row .menu-col a {
      font-size: 20px; }

/*
        other common elements
*/
.header-block {
  margin: 20px 15px 0px 15px;
  font-family: Garamond;
  color: #252405; }
  .header-block h1 {
    font-weight: bold;
    font-size: 48px; }
  .header-block h2 {
    font-style: italic;
    font-size: 32px;
    margin: 0px 15px; }

/*
pizza pozition classes
*/
.pizza-catalog {
  width: 100%;
  padding: 0px; }
  .pizza-catalog .catalog-row {
    margin: 10px;
    padding: 0px; }

.pizza-pozition {
  background-color: #ccc;
  margin: 10px 0px;
  padding: 0px;
  height: 200px; }
  .pizza-pozition .pizza-img {
    padding: 0px;
    width: 200px;
    height: 200px; }

.pizza-adding form {
  padding: 20px;
  height: 200px; }
  .pizza-adding form input {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%; }

.pizza-text {
  color: #23c; }
  .pizza-text .default-height {
    height: 164px; }
  .pizza-text .pizza-name {
    font-size: 24px; }
  .pizza-text .pizza-description {
    font-size: 16px;
    max-width: 200px; }
  .pizza-text .pizza-price {
    margin: 0px;
    font-size: 30px;
    height: 50px; }

.green-bordered {
  margin: 10px 0px;
  padding: 5px 10px;
  background-color: #84a60d;
  border: 3px solid #668800;
  border-radius: 1em / 1em; }
  .green-bordered input {
    width: 100%;
    margin: 5px 0px;
    background-color: #DDD080;
    border: 2px solid #668800;
    padding: 2px 10px;
    border-radius: 9em / 9em;
    font-size: 120%;
    color: #23c; }
  .green-bordered label {
    color: #23c;
    font-size: 24px; }
  .green-bordered .invisible {
    color: #84a60d; }

.order-address {
  font-size: 32px; }

.order-position-list {
  font-size: 12px;
  margin: 10px 0px; }
  .order-position-list li.order-sum {
    font-size: 30px;
    list-style-type: none;
    margin-top: 15px; }

table {
  width: 100%;
  color: #23c; }
  table a,
  table a:visited,
  table a:focus,
  table a:active {
    color: #000ecc;
    text-decoration: none; }
  table td {
    padding: 10px; }

.padding-20 {
  padding: 20px; }

.loader {
  top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: gainsboro;
  opacity: 0.8; }

/*# sourceMappingURL=common.css.map */
