﻿@model List<PizzaOrdering.Infractructure.Model.DataContainer.OrderPositionContainer>

@{
    Layout = null;
}

<!DOCTYPE html>

<div class="header-block">
    <h2>Ваш заказ</h2>
</div>

@if (Model?.Count > 0)
{
    foreach (var position in Model.Where(position => position.Count > 0))
    {
        <table class="pizza-pozition green-bordered">
            <tr>
                <td>
                    <img class="pizza-img col-sm-4" alt="Pizza-img.png" src="@position.MenuPosition.PizzaImg">
                </td>
                <td class="pizza-text col-sm-4">
                    <div class="default-height">
                        <p class="pizza-name">@position.MenuPosition.Name</p>
                        <p class="pizza-description">@position.MenuPosition.Description</p>
                    </div>
                    <p class="pizza-price">@position.TotalAsString</p>
                </td>
                <td class="pizza-adding col-sm-4">
                    <form name="addPizza">
                        <input type="number" id="count_@(position.MenuPosition.Id)" name="count" value="@position.Count"><br>
                        <input type="button" onclick="setOrderPositions(@position.MenuPosition.Id, (count_@(position.MenuPosition.Id)).value)" value="Изменить"/>
                    </form>
                </td>
            </tr>
        </table>
    }
}