﻿<div class="header-block">
    <h1 class="text-center">Корзина</h1>
</div>

<div class="pizza-catalog">
    <div class="row catalog-row">
        <!-- Left Block -->
        <div id="left-block" class="col-sm-6">
        </div>
        <!-- Right Block -->
        <div id="right-block" class="col-sm-6">
            <div class="header-block">
                <h2>Данные о доставке</h2>
            </div>
            <div>
                <form class="green-bordered">
                    <input type="text" name="firstName" placeholder="Имя">
                    <input type="text" name="lastName" placeholder="Фамилия">
                    <input type="text" name="street" required placeholder="Улица">
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="text" name="house" required placeholder="Дом">
                        </div>
                        <div class="col-sm-4">
                            <input type="number" name="entrance" placeholder="Подъезд">
                        </div>
                        <div class="col-sm-4">
                            <input type="number" name="flat" required placeholder="Квартира">
                        </div>
                    </div>
                    <input type="button" value="Оформить заказ" onclick="orderCreatePostRequest()">
                </form>
            </div>
        </div>
    </div>
</div>