﻿@model PizzaOrdering.Web.ViewModel.OrderPageViewModel

<div class="row catalog-row">
    <fieldset>
        <form class="green-bordered" style="display: flex;" method="post" action="@Url.Action("Order")">
            <p class="col-sm-8 padding-20">
                <label>Адрес доставки:</label>
                <input name="id" value="@Model.Order.Id" hidden>
                <input name="address" value="@Model.Order.Address">
            </p>
            <p class="col-sm-4 padding-20">
                <label class="invisible"> _ </label>
                <input type="submit" value="Изменить адрес доставки">
            </p>
        </form>
    </fieldset>
    <div class="green-bordered pizza-text">
        <div class="header-block">
            <h1 class="text-center">Состав заказа</h1>
        </div>
            <ol class="order-position-list">
                @foreach (var position in @Model.Order.OrderPositions.ToList())
                {
                    <li class="pizza-name">
                        @($"{position.MenuPosition.Name}, {position.Count} шт.")
                    </li>
                }
                <li class="pizza-name order-sum">
                    Всего: @Model.Order.TotalAsString
                </li>
            </ol>
    </div>

</div>
