﻿@model PizzaOrdering.Web.ViewModel.OrderListPageViewModel

<div class="header-block">
    <h1 class="text-center">Заказы</h1>
</div>

<div class="pizza-catalog">
    @foreach (var order in Model.OrdersList)
    {
        <div class="catalog-row green-bordered">
            <div class="pizza-text">
                <table>
                    <tr>
                        <td class="col-sm-8">
                            <a class="order-address" onclick="setCurrentPage('')" href="@Url.Action("Order")/@order.Id">
                                @order.Address
                            </a>
                            <ol class="order-position-list">
                                @foreach (var position in order.OrderPositions.ToList())
                                {
                                    <li class="pizza-name">
                                        @($"{position.MenuPosition.Name}, {position.Count} шт.")
                                    </li>
                                }
                            </ol>
                        </td>
                        <td class="col-sm-3" align="right">
                            <p class="pizza-price" style="position: static;">Итог: @order.TotalAsString</p>
                        </td>
                        <td class="col-sm-1" align="center">
                            <form method="post" action="@Url.Action("OrderDelete")/@order.Id">
                                <input type="submit" value="Удалить"/>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>
