﻿@model PizzaOrdering.Web.ViewModel.IndexPageViewModel

<div class="header-block">
    <h1 class="text-center">PIZZA ORTPO</h1>
    <h2 class="text-center">Куда вкуснее, чем отопление по 354</h2>
</div>
<!-- Pizza Catalog -->
<div class="pizza-catalog">
    <div class="row catalog-row">
        <!-- Left Block -->
        <div id="left-block" class="col-sm-6">

            @foreach (var position in Model.MenuPositionsList)
            {
                <table class="pizza-pozition green-bordered" hidden>
                    <tr>
                        <td>
                            <img class="pizza-img col-sm-4" alt="Pizza-img.png" src="@position.PizzaImg">
                        </td>
                        <td class="pizza-text col-sm-4">
                            <div class="default-height">
                                <p class="pizza-name">@position.Name</p>
                                <p class="pizza-description">@position.Description</p>
                            </div>
                            <p class="pizza-price">@position.PriceAsString</p>
                        </td>
                        <td class="pizza-adding col-sm-4">
                            <form name="addPizza">
                                <input type="number" id="count_@position.Id" value="1"><br>
                                <input type="button" onclick="addOrderPositions(@position.Id, (count_@position.Id).value)" value="В корзину" />
                            </form>
                        </td>
                    </tr>
                </table>
            }

        </div>
        <!-- Right Block -->
        <div id="right-block" class="col-sm-6">
            <script>
                $(".pizza-pozition:odd").appendTo($("#right-block"));
                $(".pizza-pozition").removeAttr('hidden'); //отрисовка после распределения по столбцам
            </script>
        </div>
    </div>
</div>